#nav-menu-container {
  display: flex;
  justify-content: flex-end; /* მარჯვნივ გასწორება */
  align-items: center;       /* ვერტიკალურად შუაში */
  position: absolute;        /* ზემოთ ფიქსაცია */
  top: 20px;
  right: 0;
  padding: 20px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px; /* ელემენტებს შორის დაშორება */
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* ეს აიძულებს მთავარ კონტენტს, დაიკავოს მაქსიმალური თავისუფალი სივრცე */
}